<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nac.radius.mapper.OnlineSessionMapper">

    <insert id="upsert" parameterType="com.nac.radius.entity.OnlineSession">
        INSERT INTO sys_online_session (acct_session_id, username_mask, mac, nas_ip, framed_ip, vlan_id, status)
        VALUES (#{acctSessionId}, #{usernameMask}, #{mac}, #{nasIp}, #{framedIp}, #{vlanId}, 1)
        ON DUPLICATE KEY UPDATE
            username_mask = VALUES(username_mask),
            mac = VALUES(mac),
            nas_ip = VALUES(nasIp),
            framed_ip = VALUES(framedIp),
            vlan_id = VALUES(vlan_id),
            status = 1
    </insert>

    <update id="markOffline">
        UPDATE sys_online_session SET status = 0 WHERE acct_session_id = #{acctSessionId}
    </update>

    <select id="selectBySessionId" resultType="com.nac.radius.entity.OnlineSession">
        SELECT id, acct_session_id, username_mask, mac, nas_ip, framed_ip, vlan_id, status, start_time, update_time
        FROM sys_online_session
        WHERE acct_session_id = #{acctSessionId}
        LIMIT 1
    </select>
</mapper>
